{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">

  <head>
    <meta charset="utf-8">
    <meta name="author" content="Joyce Lee">

    <link rel="stylesheet" type="text/css" href={% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}>

    <script type="text/javascript" src={% static 'node_modules/jquery/dist/jquery.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/jqueryui/jquery-ui.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/ckeditor/ckeditor.js' %}></script>
    <script type="text/javascript" src={% static 'online/js/js-add_commodity.js' %}></script>

    <title>Add Commodity</title>
  </head>

  <body>
    {% include "online/nav-header.partial.html" %}
    <div style="width: 100%; background-color: #FFFFCC; text-align: center;">
      <h3>Welcome! Add Commodity here.</h3>
    </div>

    <div class="col-sm-5" style="width: 80%; margin: 1% 10%;">
      <div class="panel panel-default">
        <div class="panel-body">
          <form id="add_commodity_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">ID</span>
              <input name="commodity_id" type="text" class="form-control"
                      placeholder="Please enter 8 Char for commodity ID..."
                      aria-describedby="basic-addon1">
              <span id="tips"></span>
            </div>
            <br />

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Name</span>
              <input name="commodity_name" type="text" class="form-control"
                      placeholder="Please enter commodity name..."
                      aria-describedby="basic-addon1">
              <span id="tips"></span>
            </div>
            <br />

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Price</span>
              <input name="commodity_price" type="text" class="form-control"
                      placeholder="Please enter commodity price..."
                      aria-describedby="basic-addon1">
              <span id="tips"></span>
            </div>
            <br />

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Store</span>
              <input name="commodity_store" type="text" class="form-control"
                      placeholder="Please enter commodity store..."
                      aria-describedby="basic-addon1">
              <span id="tips"></span>
            </div>
            <br />

            <div>
              <span class="input-group-addon" id="basic-addon1">Info</span>
              <textarea id="editor" name="messageArea"></textarea>
              <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 100%"></div>
            <br />

            <div>
              <input type="button" value="submit" class="btn btn-default btn-block" style="width: 50%; float: right;" onclick="submit_onclick_commodity(event)" />
              <input type="reset" value="Reset" class="btn btn-default btn-block" style="width: 50%;" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
