{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">

  <head>
    <meta charset="utf-8">
    <meta name="author" content="Joyce Lee">

    <link rel="stylesheet" type="text/css" href={% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'node_modules/jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'node_modules/jqueryui/jquery-ui.min.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'node_modules/jqueryui/jquery-ui.theme.min.css'%}>

    <script type="text/javascript" src={% static 'node_modules/jquery/dist/jquery.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/jqueryui/jquery-ui.min.js' %}></script>
    <script type="text/javascript" src={% static 'node_modules/ckeditor/ckeditor.js' %}></script>
    <script type="text/javascript" src={% static 'online/js/js-form_vaildation.js' %}></script>
    <script type="text/javascript" src={% static 'online/js/js-regist.js' %}></script>

    <title>Regist</title>
  </head>

  <body>
    {% include "online/nav-header.partial.html" %}
    <div style="width: 100%; height: 300px; background-color: #FFFFCC;">
      <h1>Alread Logout</h1>
    </div>

  </body>
</html>
