{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Joyce Lee">
     <link rel="stylesheet" type="text/css" href={% static 'online/css/index.css' %}>

    <title>Login</title>
</head>

<body>
<h1>Login page: </h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value = "ok" />
</form>
<br>
<a href="http://127.0.0.1:8000/online/regist/">注册</a>
</body>
</html>
